body{
	background: #e5e7e8;
}
.search{
	margin: .12rem .2rem;
	background: #fff;
	border-radius: .1rem;
	text-align: center;
}
.search input{
	background: url(../../images/work/seatch.png) no-repeat;
	background-size: .26rem;
	background-position: left center;
}
.department>li h2{
	font-size: .2rem;
	margin: .2rem 0 .1rem;
	font-weight: 500;
	text-indent: .2rem;
}
.staffList{
    -webkit-box-shadow: 0 0.04rem 0.08rem rgba(153,153,153,.45);
    -moz-box-shadow: 0 .04rem .08rem rgba(153,153,153,.45);
    box-shadow: 0 0.04rem 0.08rem rgba(153,153,153,.45);
}
.staffList>li{
	background: #fff;
	border-bottom: 1px solid #999;
}
.staffList>li:last-child{border-bottom: none;}
.headerImg{
	float: left;
	height: .8rem;
	margin: .14rem .18rem .16rem;
}
.staffList>li>div{
	float: left;
}
.staffList>li>div h3{
	font-size: .28rem;
	color: #000;
	font-weight: 500;
	margin: .16rem 0;
}
.staffList>li>div p{
	font-size: .2rem;
	color: #999;
}
.message{
	float: right;
	margin: .34rem .4rem;
}
.message img{	height: .38rem;}
