body{
	background: #e5e7e8;
}
.content{
	-webkit-box-shadow: 0 0.04rem 0.08rem rgba(112,111,111,.35);
    -moz-box-shadow: 0 .04rem .08rem rgba(112,111,111,.35);
    box-shadow: 0 0.04rem 0.08rem rgba(112,111,111,.35);
}
.content>li{
	padding: 0 .4rem;
	border-bottom: 1px solid #999;
	background: #fff;
	position: relative;
}
.mark{
	position: absolute;
    right: .28rem;
    top: .32rem;
    color: red;
    font-size: .16rem;
}
.content>li:last-child{border-bottom: none;}
.content>li input{
	font-size: .3rem;
	color: #000;
	padding: .24rem 0;
	width: 100%;
}
input::-webkit-input-placeholder{color: #999999;}
.submit{
	margin: .3rem .2rem;
	text-align: center;
	-webkit-box-shadow: 0 0 0.08rem rgba(0,0,0,.35);
    -moz-box-shadow: 0 0 .08rem rgba(0,0,0,.35);
    box-shadow: 0 0  0.08rem rgba(0,0,0,.35);
}
.submit button{
	line-height: .8rem;
	font-size: .36rem;
	letter-spacing: .2rem;
	color: #fff;
	background: #bcbcbc;
	width: 100%;
}
.submit .addBg{
	background: #63b946;
}
#hint{
    display: block;
    text-align: right;
    font-size: .14rem;
    color: red;
    display: none;
    position: absolute;
    right: .68rem;
    bottom: .96rem;
}
.import{margin-bottom: .34rem;}
.dialogCon{height: 3.1rem;}
.mareH{
	width: 1.4rem;
	line-height: .6rem;
	background: #bcbcbc;
	color: #fff;
	margin : .4rem auto;
	font-size: .28rem;
	display: none;
	text-align: center;
}
