<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/addressList.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>通讯录</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>通讯录</h1>
		  </div>
		  <!--search-->
		  <div class="search"><input type="search" placeholder="按部门、姓名查找"/></div>
		  <!--通讯录-->
		  <ul class="department">
		  	<li>
		  		<h2>财务部</h2>
		  		<ul class="staffList">
		  			<li class="fn_clear">
		  				<img class="headerImg" src="../images/work/header.png" alt="header" />
		  				<div>
		  					<h3>阿玛尼</h3>
		  					<p>长宁区—财务总监</p>
		  				</div>
		  				<a class="message" ><img src="../images/work/message.png" alt="message" /></a>
		  			</li>
		  			<li class="fn_clear">
		  				<img class="headerImg" src="../images/work/header.png" alt="header" />
		  				<div>
		  					<h3>阿玛尼</h3>
		  					<p>长宁区—财务总监</p>
		  				</div>
		  				<a class="message" ><img src="../images/work/message.png" alt="message" /></a>
		  			</li>
		  		</ul>
		  	</li>
		  	<li>
		  		<h2>财务部</h2>
		  		<ul class="staffList">
		  			<li class="fn_clear">
		  				<img class="headerImg" src="../images/work/header.png" alt="header" />
		  				<div>
		  					<h3>阿玛尼</h3>
		  					<p>长宁区—财务总监</p>
		  				</div>
		  				<a class="message" ><img src="../images/work/message.png" alt="message" /></a>
		  			</li>
		  		</ul>
		  	</li>
		  </ul>
		  <!--footer-->
	  <div class="footer fn_clear">
			<a id="index">
				<img src="../images/base/icon01.png" alt="icon" />
				<p>首页</p>
			</a>
			<a id="massage">
				<img src="../images/base/icon02.png" alt="icon" />
				<p>消息</p>
			</a>
			<a id="addressList">
				<img src="../images/base/selected03.png" alt="icon" />
				<p class="addColor">通讯录</p>
			</a>
			<a id="personal">
				<img src="../images/base/icon04.png" alt="icon" />
				<p>个人中心</p>
			</a>
	  </div>
	  	<script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/addressList.js"></script>
	</body>
</html>
