<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/affairs.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<title></title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>人事管理</h1>
		  </div>
		  <!--功能列表-->
		  <div class="content fn_clear">
		  	<a href="employee.html">
		  		<div><img src="../images/work/affairs01.png" alt="icon" /></div>
	 			<p>员工列表</p>
		  	</a>
		  	<a href="attendance.html">
		  		<div><img src="../images/work/affairs02.png" alt="icon" /></div>
	 			<p>员工考勤</p>
		  	</a>
		  	<a>
		  		<div><img src="../images/work/affairs03.png" alt="icon" /></div>
	 			<p>更多</p>
		  	</a>
		  </div>
	</body>
</html>
