<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/employee.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>考勤</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>考勤</h1>
		  </div>
		  <!--search-->
		    <div class="search">
		  		<div><input type="search" placeholder="按部门、时间查找"/></div>
		  </div>
		  <!--员工信息列表-->
		  <table border="1px solid #999" cellspacing="" cellpadding="">
		  	<tr>
		  		<th>ID工号</th>
		  		<th>姓名</th>
		  		<th>岗位</th>
		  		<th>实际出勤</th>
		  		<th>规定出勤</th>
		  	</tr>
		  	<tr>
		  		<td>0001</td>
		  		<td>哈哈哈</td>
		  		<td>财务</td>
		  		<td>22</td>
		  		<td>28</td>
		  	</tr>
		  </table>
	</body>
</html>
