<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/remain.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<script src="../js/template/remainList.js"></script>
		<title>审核失败</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>审核失败</h1>
		  </div>
		  <!--search-->
		  <div class="search">
		  		<div><input type="search" placeholder="按部门、时间查找"/></div>
		  </div>
		  <!--待办事项-->
		    <!--历史数据-->
		  <ul class="historyLists" id="historyLists">
		  	<li class="fn_clear">
		  		<img class="history-header" src="../images/work/header.png" alt="header" />
		  		<div>
		  			<div class="fn_clear title">
		  				<h2>关于XX项目拨款审批申请</h2>
	  					<span>05.13 08:00</span>
		  			</div>
		  			<div class="userData">
		  				<span>发送人：</span>
		  				<span>奉贤分公司 运维部  </span>
		  				<span>刘明</span>
		  			</div>
		  			<img class="examine" src="../images/work/examineError.png" alt="examined" />
		  		</div>
		  	</li>
		  	<li class="fn_clear">
		  		<img class="history-header" src="../images/work/header.png" alt="header" />
		  		<div>
		  			<div class="fn_clear title">
		  				<h2>关于XX项目拨款审批申请</h2>
	  					<span>05.13 08:00</span>
		  			</div>
		  			<div class="userData">
		  				<span>发送人：</span>
		  				<span>奉贤分公司 运维部  </span>
		  				<span>刘明</span>
		  			</div>
		  			<img class="examine" src="../images/work/examineError.png" alt="examined" />
		  		</div>
		  	</li>
		  </ul>
		  <script src="../js/template/AuditFailure.js"></script>
	</body>
</html>
