<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/employeeDetailed.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>产品回帐详情</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1></h1>
		  </div>
		  <!--content-->
		  <ul class="content backCharge">
		  	<li>
		  		<label> <span>合同编号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label> <span>客户姓名</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>身份证</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>联系方式 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>投资金额</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>产品 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>预期年化 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>预期收益</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>投资日期</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>产品到期日</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>所属销售</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>开户行</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>银行卡号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>其他</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>付息方式</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>所属团队</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>备注</span>:</label>
		  		<p>0052</p>
		  	</li>
		  </ul>
	</body>
</html>
