<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/chat.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>唐彩民</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>名字</h1>
		   </div>
		   <ul class="content fn_clear">
			   	<li>
			   		<span>2011225</span>
			   		<div>
			   			<a class="headerImg"><img src="../images/work/header.png" alt="header" /></a>
			   			<p>关于XX项目的审核方案，多一些方案进行挑选</p>
			   		</div>
			   	</li>
			   	<li class="userRight">
			   		<span>2011225</span>
			   		<div>
			   			<p>关于XX项目的审核方案，多一些方案进行挑选</p>
			   			<a class="headerImg"><img src="../images/work/header.png" alt="header" /></a>
			   		</div>
			   	</li>
		   </ul>
		   <!--留言-->
		   <div class="send">
		   		<input type="text" />
		   		<button>发送</button>
		   </div>
	</body>
</html>
