<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/employeeDetailed.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>员工详情</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1></h1>
		  </div>
		  <!--content-->
		  <ul class="content">
		  	<li>
		  		<label> <span>ID工号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label> <span>姓名</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>职位 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>部门 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>手机号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>银行卡号 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>工资 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>入职日期</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>年龄</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>国籍</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>民族</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>户籍</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>身高</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>体重</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>简介</span>:</label>
		  		<p>0052</p>
		  	</li>
		  </ul>
	</body>
</html>
