<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/workManage.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>财务管理</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>财务管理</h1>
		   </div>
		     <!--功能icon-->
		  <div class="content fn_clear">
			<a href="salary.html">
	 			<div><img src="../images/work/finance01.png" alt="icon" /></div>
	 			<p>员工工资</p>
	 		</a>
	 		<a href="product.html">
	 			<div><img src="../images/work/finance02.png" alt="icon" /></div>
	 			<p>产品信息</p>
	 		</a>
	 		<a href="backCharge.html">
	 			<div><img src="../images/work/finance03.png" alt="icon" /></div>
	 			<p>产品回账</p>
	 		</a>
	 		<a href="vocational.html">
	 			<div><img src="../images/work/finance04.png" alt="icon" /></div>
	 			<p>业务入金</p>
	 		</a>
	 		<a>
	 			<div><img src="../images/work/finance05.png" alt="icon" /></div>
	 			<p>更多</p>
	 		</a>
		  </div>
	</body>
</html>
