<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/information.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>个人资料</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>个人资料</h1>
		    <button class="save">保存</button>
		  </div>
		  <!--更换头像-->
		  <div class="changeHeader fn_clear">
		  	<img class="headerImg" src="../images/work/header.png" alt="header" />
		  	<p>更换头像</p>
		  	<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  </div>
		  <ul class="content">
		  	<li>
		  		<label><span>ID工号</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>姓名</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>职位</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>部门</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>手机号</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>入职时间</span>:</label>
		  		<p>111</p>
		  	</li>
		  	<li>
		  		<label><span>年龄</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>国籍</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>民族</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>户籍</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>身高</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>体重</span>:</label>
		  		<input type="text" />
		  	</li>
		  	<li>
		  		<label><span>简介</span>:</label>
		  		<input type="text" />
		  	</li>
		  </ul>
	</body>
</html>
