<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/remain.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>消息</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>消息</h1>
		  </div>
		  <!--search-->
		  <div class="search">
		  		<div><input type="search" placeholder="按ID、姓名查找"/></div>
		  </div>
		  <!--待办事项-->
		    <!--历史数据-->
		  <ul class="historyLists">
		  	<li class="fn_clear">
		  		<img class="history-header" src="../images/work/header.png" alt="header" />
		  		<div>
		  			<div class="fn_clear title">
		  				<h2>关于XX项目拨款审批申请</h2>
	  					<span>05.13 08:00</span>
		  			</div>
		  			<div class="userData">
		  				<span>发送人：</span>
		  				<span>奉贤分公司 运维部  </span>
		  				<span>刘明</span>
		  			</div>
		  			<span class="hint">1</span>
		  		</div>
		  	</li>
		  </ul>
		  	  <!--footer-->
		  <div class="footer fn_clear">
				<a id="index">
					<img src="../images/base/icon01.png" alt="icon" />
					<p>首页</p>
				</a>
				<a id="massage">
					<img src="../images/base/selected03.png" alt="icon" />
					<p class="addColor">消息</p>
				</a>
				<a id="addressList">
					<img src="../images/base/icon02.png" alt="icon" />
					<p>通讯录</p>
				</a>
				<a id="personal">
					<img src="../images/base/icon04.png" alt="icon" />
					<p>个人中心</p>
				</a>
		  </div>
	</body>
</html>
