<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/personal.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
		<script src="../js/base.js"></script>
		<title>个人中心</title>
	</head>
	<body>
			<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>个人中心</h1>
		  </div>
		  <!--content-->
		  <ul class="content">
		  	<li class="fn_clear">
		  		<a class="headerImg" ><img src="../images/work/header.png" alt="headerImg" /></a>
		  		<div>
		  			<h2>李明</h2>
		  			<p>奉贤分公司销售经理</p>
		  			<p>ID: 023</p>
		  		</div>
		  		<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  	</li>
		  	<li id="userPassword" class="fn_clear">
		  		<a class="icon" ><img src="../images/personal/icon01.png" alt="icon" /></a>
		  		<p>账号密码</p>
		  		<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  	</li>
	  		<li id="safePassword" class="fn_clear">
		  		<a class="icon" ><img  src="../images/personal/icon02.png" alt="icon" /></a>
		  		<p>安全密码</p>
		  		<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  	</li>
	  		<!--<li class="fn_clear">
		  		<a class="icon" ><img  src="../images/personal/icon03.png" alt="icon" /></a>
		  		<p>工作计划</p>
		  		<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  	</li>-->
	  		<li id="userPassword" class="fn_clear">
		  		<a class="icon" ><img src="../images/personal/icon04.png" alt="icon" /></a>
		  		<p>公司简介</p>
		  		<a class="arrow"><img src="../images/personal/arrow.png" alt="arrow" /></a>
		  	</li>

		  </ul>
		   <!--footer-->
	  <div class="footer fn_clear">
			<a id="index">
				<img src="../images/base/icon01.png" alt="icon" />
				<p>首页</p>
			</a>
			<a id="massage">
				<img src="../images/base/icon02.png" alt="icon" />
				<p>消息</p>
			</a>
			<a id="addressList">
				<img src="../images/base/icon03.png" alt="icon" />
				<p>通讯录</p>
			</a>
			<a id="personal">
				<img src="../images/base/selected04.png" alt="icon" />
				<p class="addColor">个人中心</p>
			</a>
	  </div>
	  <script src="../js/template/personal.js"></script>
	</body>
</html>
