<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/template/remain.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<title></title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>待办事宜</h1>
		  </div>
		  <!--search-->
		  <div class="search">
		  		<div><input type="search" placeholder="按部门、时间查找"/></div>
		  </div>
		  <!--待办事项-->
		    <!--历史数据-->
		    <div  id="pullrefresh" class="mui-content mui-scroll-wrapper">
	    	 <div class="mui-scroll">
	    	 	<ul id="historyLists" class="historyLists mui-table-view mui-table-view-chevron fn_clear" >
				  	<!--<li class="fn_clear">
				  		<img class="history-header" src="../images/work/header.png" alt="header" />
				  		<div>
				  			<div class="fn_clear title">
				  				<h2>关于XX项目拨款审批申请</h2>
			  					<span>05.13 08:00</span>
				  			</div>
				  			<div class="userData">
				  				<span>发送人：</span>
				  				<span>奉贤分公司 运维部  </span>
				  				<span>刘明</span>
				  			</div>
				  			<img class="examine" src="../images/work/examine.png" alt="examined" />
				  		</div>
				  	</li>-->
				  </ul>
	    	 </div>
		    </div>
		<script src="../jqueryMobile/mui.min.js"></script>
		<script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/remain.js"></script>
	</body>
</html>
