<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/template/examineing.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>待办事宜</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>待办事宜</h1>
		  </div>
		 <div  id="remian">
		 	 <!--标题信息-->
		  <!--<div class="title">
		  	<div>
		  		<label>标题：</label>
		  		<p>XXX项目计划资金申请</p>
		  	</div>
		  	<div>
		  		<label>内容：</label>
		  		<div class="see">
		  			<img src="../images/work/see.png" alt="see" />
		  			<p>点击查看详情</p>
		  		</div>
		  	</div>
		  </div>-->
		  <!--申请人-->
		  <!--<div class="apply">
		  	<div>
		  		<label>申请人：</label>
		  		<p>长宁分公司 财务部 黎明</p>
		  	</div>
		  	<div>
		  		<label>申请时间：</label>
		  		<p>2017.05.13</p>
		  	</div>
		  </div>-->
		  <!--保存图片-->
		  <!--<button class="save">保存为图片</button>-->
		  <!--通过-->
		<!--  <button class="pass">通过</button>-->
		  <!--驳回-->
		<!--  <button class="reject">驳回</button>-->
		  <!--验证密码-->
		  <!--二级密码-->
		  <div class="dialog" id="dialog">
		  	<div class="dialogBg closeBtn"></div>
		  	<div class="dialogCon">
		  		<img class="close closeBtn" src="../images/work/close.png" alt="close" />
		  		<h3>请输入安全密码</h3>
		  		<div class="import">
		  			<input type="password" />
		  		</div>
		  		<div class="btnCss fn_clear">
		  			<a class="closeBtn">取消</a>
		  			<a>确定</a>
		  		</div>
		  	</div>
		  </div>
		 </div>
		<script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/remainDetailed.js"></script>
	</body>
</html>
