<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/employeeDetailed.css" />
		<link rel="stylesheet" href="../css/template/salaryDetailed.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>工资详情</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1></h1>
		  </div>
		  <!--content-->
		  <ul class="content" id="salary">
		  	<!--<li>
		  		<label> <span>ID工号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label> <span>姓名</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>职位 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>部门 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>基本工资</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>绩效工资 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>应发工资</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>实际出勤（天）</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>事假</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>病假</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>迟到</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>社保</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>公积金</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>其他</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>补贴</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>实发工资</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>开户行</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>银行卡号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>身份证号</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>开始时间</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>结束时间</span>:</label>
		  		<p>0052</p>
		  	</li>-->
		  </ul>
			<script src="../js/https.js"></script>
			<script src="../js/config.js"></script>
		  <script src="../js/template/salaryDetailed.js"></script>
	</body>
</html>
