<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/userPassword.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>修改登录密码</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>修改登录密码</h1>
		  </div>
		  <!--content-->
		  <ul class="content">
		  	<li><input type="text" id="password" placeholder="输入密码"/></li>
		  	<li><input type="text" id="passwordDtw" placeholder="再次输入密码"/></li>
		  </ul>
		  <div class="submit"><button id="submit">确定</button></div>
		  <span id="mark" class="mareH">修改成功</span>
		  <!--二级密码-->
		  <div class="dialog" id="dialog">
		  	<div class="dialogBg closeBtn"></div>
		  	<div class="dialogCon">
		  		<img class="close closeBtn" src="../images/work/close.png" alt="close" />
		  		<h3>请输入原登录密码</h3>
		  		<div class="import">
		  			<input type="password" />
		  		</div>
		  		<span id="hint">原密码输入错误</span>
		  		<div class="btnCss fn_clear">
		  			<a class="closeBtn">取消</a>
		  			<a id="sure">确定</a>
		  		</div>
		  	</div>
		  </div>
		  <script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/userPassword.js"></script>
	</body>
</html>
