<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/vadio.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>公告详情</title>
	</head>
	<body class="vadioDetailed">
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>公告详情</h1>
		  </div>
		  <!--content-->
		  <div id="listDetailed">
		  	<!--<h2>《有关公司xx管理条例》</h2>
		  	<p></p>-->
		  </div>
		 <script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/vadioDetailed.js"></script>
	</body>
</html>
