<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/vadio.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>公告</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>公告</h1>
		  </div>
		  <!--content-->
		  <ul id="list">
		  	<!--<li>
		  		<span class="time">8月1号 11:36</span>
		  		<div class="vadioCon">
		  			<h2>《有关公司xx管理条例》</h2>
		  			<div>
		  				<p>点击输入文字的方法和合伙人vbrfb被屏蔽吧版本发布反反复复的烦不烦vfdo发或语多少vjksdvkvdsvsd都是错的是vdsv啊速度擦三次撒吃辣死次哦啊都dvd哦iviocoiashcasch音...</p>
		  			</div>
		  		</div>
		  	</li>-->
		  </ul>
	  	<script src="../js/https.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/template/vadio.js"></script>
	</body>
</html>
