<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/employeeDetailed.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/base.js"></script>
		<title>产品回帐详情</title>
	</head>
	<body>
		<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1></h1>
		  </div>
		  <!--content-->
		  <ul class="content vocational">
		  	<li>
		  		<label> <span>日期</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label> <span>客户姓名</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>入金金额</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>产品名称 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>利率</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>折标 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>业务员</span>:</label>
		  		<p>0052</p>
		  	</li>
		  	<li>
		  		<label><span>备注 </span>:</label>
		  		<p>0052</p>
		  	</li>
		  </ul>
	</body>
</html>
