<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/template/workManage.css" />
		<script src="../jqueryMobile/jquery.min.js"></script>
		<script src="../js/common.js"></script>
		<title></title>
	</head>
	<body>
			<!--header-->
		  <div class="header" id="header">
		  	<a class="back" href="javascript:history.back();"><img src="../images/work/back.png" alt="back" /></a>
		    <h1>事务管理</h1>
		  </div>
		  <!--功能icon-->
		  <div class="content fn_clear">
			<a>
	 			<div><img src="../images/work/work01.png" alt="icon" /></div>
	 			<p>待办事宜</p>
	 		</a>
	 		<a>
	 			<div><img src="../images/work/work02.png" alt="icon" /></div>
	 			<p>审核中</p>
	 		</a>
	 		<a>
	 			<div><img src="../images/work/work03.png" alt="icon" /></div>
	 			<p>已审核</p>
	 		</a>
	 		<a href="template/workManage.html">
	 			<div><img src="../images/work/work04.png" alt="icon" /></div>
	 			<p>审核失败</p>
	 		</a>
	 		<a>
	 			<div><img src="../images/work/work05.png" alt="icon" /></div>
	 			<p>更多</p>
	 		</a>
		  </div>
		  <!--历史数据-->
		  <ul class="historyLists">
		  	<li class="fn_clear">
		  		<img class="history-header" src="../images/work/header.png" alt="header" />
		  		<div>
		  			<div class="fn_clear title">
		  				<h2>关于XX项目拨款审批申请</h2>
	  					<span>05.13 08:00</span>
		  			</div>
		  			<div class="userData">
		  				<span>发送人：</span>
		  				<span>奉贤分公司 运维部  </span>
		  				<span>刘明</span>
		  			</div>
		  			<img class="examine" src="../images/work/examined.png" alt="examined" />
		  		</div>
		  	</li>
		  	<li class="fn_clear">
		  		<img class="history-header" src="../images/work/header.png" alt="header" />
		  		<div>
		  			<div class="fn_clear title">
		  				<h2>关于XX项目拨款审批申请</h2>
	  					<span>05.13 08:00</span>
		  			</div>
		  			<div class="userData">
		  				<span>发送人：</span>
		  				<span>奉贤分公司 运维部  </span>
		  				<span>刘明</span>
		  			</div>
		  			<img class="examine" src="../images/work/examined.png" alt="examined" />
		  		</div>
		  	</li>
		  </ul>
	</body>
</html>
